.ListItem {
  padding: .1rem;
  cursor: pointer;

  &_offset {
    padding-left: 1rem;
  }

  &__title,
  &__input {
    padding: 0;
    font-family: system-ui;
    font-size: 1em;
    border-bottom: 2px solid transparent;
  }

  &__input {
    border: none;
    border-bottom: 2px solid #009688;
    box-shadow: none;
    outline: none;
    width: 100%;

    &_error {
      border-bottom-color: #D50000;
    }
  }
}