.List {
  &__input, 
  &__title {
    display: block;
    max-width: 32rem;
    margin: .8rem 0;
    padding: 0;
    font-family: system-ui;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid transparent;
  }
  
  &__input {
    border: none;
    border-bottom: 2px solid #009688;
    box-shadow: none;
    outline: none;
    width: 100%;

    &_error {
      border-bottom-color: #D50000;
    }
  }
}